* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #5D5D7D;
}

.wrapper {
    height: 100vh;
    width: 100vw;
}

.left-area {
    display: inline-block;
    width: 60%;
    margin-top: 381px;
    padding-left: 136px;
}

.left-area h1 {    
    width: 368px;
    font-size: 70px;
    line-height: 80px;
}

.left-area p {
    width: 540px;
    margin: 15px 0;
    line-height: 48px;
    opacity: 0.6;
}

.left-area button {
    width: 269px;
    height: 62px;
    font-size: 24px;
    line-height: 36px;
    background-color: #9499EA;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.09);
    color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: all .2s;
}

.left-area button:hover {
    background-color: #A0A7C5;
}

.left-area button:active {
    background-color: #5D5D7D;
}

.right-area {
    display: inline-block;
    height: 100vh;
    width: 40%;
    position: absolute;
    background-color: rgba(93, 93, 125, 0.16);
}

.right-area header {
    margin: 24px 0 0 57px;
}

.right-area header a.link-menu {
    margin-right: 41px;
    line-height: 42px;
    cursor: pointer;
    transition: all .2s;
}

.right-area header a.link-menu:nth-child(2) {
    color: #a4a4cf;
}

.right-area header a.link-menu:hover {
    color: #a4a4cf;
}

.right-area header a.link-menu:active {
    color: #8484cf;
}

.right-area img {
    position: relative;
    top: 25%;
    right: 132px;
}

@media screen and (max-width: 1300px) {

    .left-area {
        margin-top: 281px;
        padding-left: 120px;
    }

    .left-area h1 {    
        width: 278px;
        font-size: 52px;
        line-height: 78px;
    }

    .left-area p {
        width: 400px;
        margin: 15px 0;
        line-height: 42px;
    }

    .left-area button {
        width: 200px;
        height: 56px;
        font-size: 20px;
    }

    .right-area img {
        width: 80%;
        top: 20%;
        right: 20%;
    }

}

@media screen and (max-width: 900px) {

    .left-area {
        display: block;
        width: 100%;
        height: 50%;
        margin-top: 150px;
        padding: 0 20px;
    }

    .left-area h1 {
        width: auto;
        margin: 32px 0;
        font-size: 72px;
        text-align: center;
        line-height: 84px;
    }

    .left-area p {
        margin: 32px;
        width: auto;
        text-align: center;
    }

    .left-area button {
        display: block;
        margin: auto;
    }

    .right-area {
        display: block;
        width: 100%;
        height: auto;
        margin: 0;
        padding: 80px;
        position: static;
    }

    .right-area header {
        display: none;
    }

    .right-area img {
        max-width: 80%;
        position: static;
    }

}

@media screen and (max-width: 640px) {

    .left-area {
        height: auto;
        margin: 50px auto;
    }

    .left-area h1 {
        font-size: 42px;
        line-height: 56px;
    }

    .left-area p {
        font-size: 18px;
        line-height: 28px;
    }

    .left-area button {
        width: 160px;
        font-size: 18px;
    }

    .right-area {
        height: auto;
        margin: 20px auto;
    }

}